#overall {
    margin-left: 50px;
    margin-right: 50px;
}

#itemInput {
    padding-right: 25px;
}

#itemBinButton { 
    margin-top: 10px;
    margin-left: 10px;
}

#submitEvalButton {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

#rightForm, #leftForm {
    margin: 25px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    border-color: black;
    display: inline-block;
}

#topStuff {
    border-bottom: 3px dashed black;
}

.submitMessagebox {
    padding: 5px;
    background-color: green;
    border-color: green;
    border-radius: 5px;
}

.binLabel {
    border: solid;
    border-radius: 50%;
    width: 25px;
    padding-left: 5px;
    border-color: yellowgreen;
    background-color: yellowgreen;
}